In [8]:
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime
from datetime import timedelta
from tqdm import tqdm
import numpy as np
import os

file_path="E:/Data/Private/MIMIC_III/mimic_csv/"

In [2]:
ditem=pd.read_csv(file_path+"D_ITEMS.csv")
ditem=ditem[ditem["ITEMID"]>220000]

In [3]:
adm=pd.read_csv(file_path+"ADMISSIONS.csv")
adm.head(3)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1

In [19]:
cart_file_name=file_path+"CHARTEVENTS.csv"
chart_reader=pd.read_csv(cart_file_name, chunksize=100000)

In [5]:
chart_df=chart_reader.get_chunk()

In [6]:
# from tqdm import tqdm
# shape_list=[]
# for r in tqdm(chart_reader):
#     shape_list.append(r.shape)

In [39]:
# len(shape_list)

33072

"CHARTEVENTS.csv"はおよそ33072*10000行=30億行！？

In [42]:
chart_df["HADM_ID"].unique()

array([165660, 144319, 124321], dtype=int64)

In [ ]:
os.path

In [ ]:
chart_dir=file_path+"chart/"
if not os.path.exists(chart_dir):
    os.mkdir(chart_dir)
    print(f"make dir...  {chart_dir}")
for r in tqdm(chart_reader):
    hadms=r["HADM_ID"].unique()
    for hadm in hadms:
        hadm_dir=chart_dir+f"{hadm}/"
        if not os.path.exists(hadm_dir):
            os.mkdir(hadm_dir)
            print(f"make dir...  {hadm_dir}")
        hadm_df=r[r["HADM_ID"]==hadm]
        if os.listdir(hadm_dir):
            exist=pd.read_csv(hadm_dir+f"0.csv")
            hadm_df=pd.concat([exist,hadm_df])
            hadm_df.to_csv(hadm_dir+f"0.csv",index=False)
        else:
            hadm_df.to_csv(hadm_dir+f"0.csv",index=False)

In [27]:
ids_list=[]
for r in tqdm(chart_reader):
    ids=r[["HADM_ID","ICUSTAY_ID"]].drop_duplicates()
    break

0it [00:00, ?it/s]

In [53]:
ids_list=[]
ids_list.append(for rlr in r[["HADM_ID","ICUSTAY_ID"]].drop_duplicates().values.tolist())

SyntaxError: invalid syntax (<ipython-input-53-e8b231e8e504>, line 2)

In [48]:
ids_list.append([0,0])

In [52]:
r[["HADM_ID","ICUSTAY_ID"]].drop_duplicates().values.tolist()

[[179324, 204842],
 [161362, 296675],
 [162179, 212983],
 [113980, 200916],
 [140671, 265821],
 [161492, 254639],
 [136021, 218447],
 [169771, 234686],
 [151032, 275238],
 [186903, 227669],
 [183374, 205948],
 [152926, 203096],
 [192055, 224964],
 [151312, 297993],
 [177517, 283925],
 [135329, 284135],
 [123855, 278589],
 [199859, 249069],
 [147938, 239220],
 [199859, 207220],
 [114347, 291063],
 [101704, 271881],
 [176459, 280872],
 [136561, 241520],
 [107826, 249382],
 [153692, 274073],
 [142289, 218353],
 [182600, 283081],
 [136029, 285589],
 [109725, 282511],
 [147562, 200664],
 [174582, 263413],
 [181010, 206662],
 [157401, 213558],
 [120655, 267661],
 [157932, 216511],
 [182472, 228581],
 [140641, 276070],
 [136231, 262109],
 [161687, 269160],
 [197851, 213574],
 [167791, 239830]]