# covariates , tagsを作成する

In [1]:
# すでにcomplete_tags,complete_death_tagsがあるのでUNIQUE_IDとsample_idを合わせる
# sapsiiもsample idをつけたデータセットとして必要列のみ残したデータセットを作成しておく

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

import datetime
from datetime import timedelta
import numpy as np

from tqdm import tqdm
import time

file_path="D:/mimic_iii/csv/"
outfile_path="D:/mimic_iii/clean_data/"

In [3]:
df=pd.read_csv(outfile_path+'GRU_ODE_Dataset.csv')

In [4]:
tags=pd.read_csv(outfile_path+"complete_death_tags.csv")
covs=pd.read_csv(outfile_path+"complete_covariates.csv")
saps=pd.read_csv(file_path+"sapsii_processed.csv")
id_ref=pd.read_csv(outfile_path+"UNIQUE_ID_dict.csv")

In [5]:
import pickle

def pickle_dump(obj, path):
    with open(path, mode='wb') as f:
        pickle.dump(obj,f)

def pickle_load(path):
    with open(path, mode='rb') as f:
        data = pickle.load(f)
        return data

In [6]:
# ロード
d=pickle_load( outfile_path+'sample_unique_id_dict.pickle')

In [7]:
# sample_id->unique_idをunique_id->sample_idに
# 
def get_swap_dict(d):
    return {v: k for k, v in d.items()}

d_swap = get_swap_dict(d)
print(d_swap)

 2530: 19769, 11451: 19770, 10303: 19771, 7682: 19772, 12252: 19773, 12384: 19774, 12364: 19775, 9195: 19776, 10489: 19777, 13414: 19778, 8931: 19779, 14485: 19780, 11690: 19781, 12477: 19782, 18879: 19783, 2339: 19784, 11367: 19785, 15058: 19786, 12002: 19787, 14772: 19788, 17204: 19789, 3809: 19790, 1915: 19791, 4608: 19792, 7905: 19793, 17223: 19794, 9060: 19795, 9524: 19796, 5138: 19797, 19885: 19798, 3901: 19799, 20035: 19800, 5449: 19801, 8695: 19802, 3713: 19803, 17980: 19804, 4206: 19805, 12528: 19806, 513: 19807, 396: 19808, 13851: 19809, 20944: 19810, 19623: 19811, 15853: 19812, 5479: 19813, 5091: 19814, 4534: 19815, 12981: 19816, 8853: 19817, 5164: 19818, 47: 19819, 4992: 19820, 11044: 19821, 3283: 19822, 9008: 19823, 13613: 19824, 2295: 19825, 1188: 19826, 15226: 19827, 11461: 19828, 11798: 19829, 12937: 19830, 11707: 19831, 7558: 19832, 1821: 19833, 13628: 19834, 8785: 19835, 9055: 19836, 18118: 19837, 10947: 19838, 19294: 19839, 11168: 19840, 20857: 19841, 15419: 19842, 3066: 19843, 7701: 19844, 3818: 19845, 13432: 19846, 8808: 19847, 16482: 19848, 6898: 19849, 1759: 19850, 7937: 19851, 18618: 19852, 8568: 19853, 10478: 19854, 14331: 19855, 7098: 19856, 20547: 19857, 13184: 19858, 19134: 19859, 15010: 19860, 5736: 19861, 3981: 19862, 11962: 19863, 5037: 19864, 20194: 19865, 18927: 19866, 8847: 19867, 18901: 19868, 19532: 19869, 16328: 19870, 16648: 19871, 4380: 19872, 1460: 19873, 1666: 19874, 1949: 19875, 7395: 19876, 19536: 19877, 19202: 19878, 8169: 19879, 20836: 19880, 5968: 19881, 1979: 19882, 473: 19883, 18281: 19884, 3471: 19885, 827: 19886, 17133: 19887, 9516: 19888, 13251: 19889, 19891: 19890, 6724: 19891, 14208: 19892, 11853: 19893, 18882: 19894, 3805: 19895, 18593: 19896, 19019: 19897, 9505: 19898, 13377: 19899, 1064: 19900, 18548: 19901, 6291: 19902, 5447: 19903, 9269: 19904, 16267: 19905, 10235: 19906, 12548: 19907, 9375: 19908, 16505: 19909, 15656: 19910, 7105: 19911, 16528: 19912, 6380: 19913, 13503: 19914, 15887: 19915, 19514: 19916, 2620: 19917, 4258: 19918, 1089: 19919, 19015: 19920, 1589: 19921, 6548: 19922, 14361: 19923, 7759: 19924, 14566: 19925, 13127: 19926, 5784: 19927, 10632: 19928, 16481: 19929, 19022: 19930, 5912: 19931, 15495: 19932, 14122: 19933, 18834: 19934, 11081: 19935, 11417: 19936, 6981: 19937, 11739: 19938, 16761: 19939, 18481: 19940, 20504: 19941, 14582: 19942, 2604: 19943, 868: 19944, 18134: 19945, 15645: 19946, 2201: 19947, 21177: 19948, 13831: 19949, 12257: 19950, 11746: 19951, 2712: 19952, 4092: 19953, 1828: 19954, 10762: 19955, 11653: 19956, 73: 19957, 4781: 19958, 7424: 19959, 5748: 19960, 9032: 19961, 8838: 19962, 20074: 19963, 10408: 19964, 5136: 19965, 8598: 19966, 9714: 19967, 11981: 19968, 6678: 19969, 14821: 19970, 9358: 19971, 13180: 19972, 15691: 19973, 12290: 19974, 4109: 19975, 16348: 19976, 16671: 19977, 12124: 19978, 14299: 19979, 3055: 19980, 214: 19981, 17095: 19982, 1411: 19983, 13802: 19984, 9049: 19985, 61: 19986, 17068: 19987, 18416: 19988, 19122: 19989, 15233: 19990, 17848: 19991, 6279: 19992, 17080: 19993, 4610: 19994, 10426: 19995, 18421: 19996, 2246: 19997, 2085: 19998, 17408: 19999, 18303: 20000, 11750: 20001, 5373: 20002, 20022: 20003, 9549: 20004, 9063: 20005, 4300: 20006, 18408: 20007, 11661: 20008, 13555: 20009, 18669: 20010, 10026: 20011, 19918: 20012, 14174: 20013, 17130: 20014, 13768: 20015, 10159: 20016, 6558: 20017, 3496: 20018, 15110: 20019, 8861: 20020, 15250: 20021, 21178: 20022, 3715: 20023, 3917: 20024, 2059: 20025, 13815: 20026, 21044: 20027, 15740: 20028, 13945: 20029, 1365: 20030, 12839: 20031, 11989: 20032, 11667: 20033, 289: 20034, 16775: 20035, 19370: 20036, 9713: 20037, 20522: 20038, 19127: 20039, 14787: 20040, 10966: 20041, 13447: 20042, 13443: 20043, 7643: 20044, 1248: 20045, 19341: 20046, 18312: 20047, 19593: 20048, 8690: 20049, 6598: 20050, 11161: 20051, 17191: 20052, 15761: 20053, 7151: 20054, 6840: 20055, 18734: 20056, 2346: 20057, 20906: 20058, 20170: 20059, 4469: 20060, 13385: 20061, 7723: 20062, 5492: 20063, 13103: 20064, 7616: 20065, 12328: 20066, 2444: 20067, 13164: 20068, 3069: 20069, 20065: 20070, 4969: 20071, 2288: 20072, 17829: 20073, 1451: 20074, 20511: 20075, 3849: 20076, 1300: 20077, 18005: 20078, 7082: 20079, 588: 20080, 9918: 20081, 14903: 20082, 12759: 20083, 18240: 20084, 17921: 20085, 20210: 20086, 18189: 20087, 13678: 20088, 19416: 20089, 20465: 20090, 13536: 20091, 4871: 20092, 14611: 20093, 20679: 20094, 9154: 20095, 20979: 20096, 16546: 20097, 3473: 20098, 20657: 20099, 19008: 20100, 1660: 20101, 1427: 20102, 368: 20103, 10768: 20104, 18393: 20105, 13812: 20106, 15318: 20107, 16747: 20108, 2732: 20109, 18527: 20110, 651: 20111, 14716: 20112, 16993: 20113, 5285: 20114, 12353: 20115, 980: 20116, 17735: 20117, 20425: 20118, 17468: 20119, 10647: 20120, 6873: 20121, 14309: 20122, 15976: 20123, 2549: 20124, 7038: 20125, 20966: 20126, 20797: 20127, 20919: 20128, 19001: 20129, 19463: 20130, 13860: 20131, 18628: 20132, 16165: 20133, 20553: 20134, 12921: 20135, 1998: 20136, 7722: 20137, 8395: 20138, 1869: 20139, 8948: 20140, 7218: 20141, 9191: 20142, 17048: 20143, 11834: 20144, 19743: 20145, 712: 20146, 1486: 20147, 1907: 20148, 7299: 20149, 8135: 20150, 6407: 20151, 3125: 20152, 13563: 20153, 6211: 20154, 12224: 20155, 17332: 20156, 18705: 20157, 2362: 20158, 9527: 20159, 15594: 20160, 9135: 20161, 9906: 20162, 8817: 20163, 4200: 20164, 20509: 20165, 902: 20166, 17863: 20167, 20515: 20168, 13957: 20169, 15487: 20170, 20019: 20171, 2744: 20172, 8423: 20173, 1099: 20174, 14126: 20175, 12168: 20176, 13417: 20177, 18925: 20178, 11111: 20179, 17894: 20180, 20249: 20181, 11906: 20182, 10068: 20183, 4931: 20184, 19200: 20185, 19636: 20186, 9523: 20187, 17935: 20188, 13391: 20189, 18947: 20190, 12995: 20191, 19140: 20192, 5598: 20193, 20859: 20194, 15400: 20195, 7458: 20196, 17441: 20197, 20776: 20198, 7288: 20199, 19120: 20200, 19804: 20201, 18921: 20202, 5102: 20203, 19480: 20204, 5242: 20205, 11847: 20206, 1133: 20207, 2959: 20208, 12321: 20209, 15851: 20210, 14774: 20211, 6964: 20212, 16003: 20213, 15610: 20214, 11004: 20215, 6842: 20216, 1577: 20217, 104: 20218, 19024: 20219, 1480: 20220, 17202: 20221, 18655: 20222, 20460: 20223, 20699: 20224, 19397: 20225, 1839: 20226, 7930: 20227, 5588: 20228, 10105: 20229, 18109: 20230, 2894: 20231, 16017: 20232, 17261: 20233, 2090: 20234, 307: 20235, 17918: 20236, 5656: 20237, 6748: 20238, 6577: 20239, 8014: 20240, 21214: 20241, 7446: 20242, 17932: 20243, 13334: 20244, 14982: 20245, 633: 20246, 955: 20247, 7060: 20248, 19990: 20249, 15054: 20250, 302: 20251, 20195: 20252, 17510: 20253, 20202: 20254, 5587: 20255, 18585: 20256, 17741: 20257, 11249: 20258, 15921: 20259, 4713: 20260, 4626: 20261, 8639: 20262, 6475: 20263, 13650: 20264, 16858: 20265, 7268: 20266, 11261: 20267, 8750: 20268, 16362: 20269, 5200: 20270, 2809: 20271, 19290: 20272, 13933: 20273, 12111: 20274, 11209: 20275, 20365: 20276, 700: 20277, 13192: 20278, 346: 20279, 5454: 20280, 19182: 20281, 4176: 20282, 13961: 20283, 15873: 20284, 14103: 20285, 17854: 20286, 12695: 20287, 3489: 20288, 6535: 20289, 8795: 20290, 20713: 20291, 6656: 20292, 12103: 20293, 18219: 20294, 7523: 20295, 5011: 20296, 11630: 20297, 12062: 20298, 6441: 20299, 13312: 20300, 241: 20301, 10334: 20302, 9389: 20303, 17462: 20304, 341: 20305, 13078: 20306, 15083: 20307, 6902: 20308, 1141: 20309, 11002: 20310, 10494: 20311, 1740: 20312, 18786: 20313, 19756: 20314, 3207: 20315, 11227: 20316, 6098: 20317, 9469: 20318, 11477: 20319, 12642: 20320, 19356: 20321, 4668: 20322, 9818: 20323, 1842: 20324, 1808: 20325, 12657: 20326, 20827: 20327, 7782: 20328, 8617: 20329, 847: 20330, 8476: 20331, 5203: 20332, 10127: 20333, 18833: 20334, 11635: 20335, 14832: 20336, 16338: 20337, 16634: 20338, 6299: 20339, 13033: 20340, 14440: 20341, 14424: 20342, 10658: 20343, 4690: 20344, 20424: 20345, 9116: 20346, 13836: 20347, 5383: 20348, 17759: 20349, 9107: 20350, 12180: 20351, 11311: 20352, 16733: 20353, 10353: 20354, 15417: 20355, 6219: 20356, 15413: 20357, 19548: 20358, 6401: 20359, 7627: 20360, 1313: 20361, 11369: 20362, 518: 20363, 9285: 20364, 10263: 20365, 9605: 20366, 13421: 20367, 18718: 20368, 1852: 20369, 15462: 20370, 10166: 20371, 12569: 20372, 2415: 20373, 2510: 20374, 14803: 20375, 11159: 20376, 21025: 20377, 19240: 20378, 182: 20379, 5221: 20380, 1916: 20381, 6987: 20382, 18828: 20383, 6828: 20384, 19915: 20385, 14486: 20386, 1308: 20387, 19089: 20388, 18850: 20389, 15797: 20390, 3159: 20391, 12990: 20392, 21247: 20393, 11877: 20394, 6564: 20395, 18739: 20396, 11686: 20397, 1695: 20398, 17667: 20399, 15206: 20400, 8510: 20401, 2726: 20402, 13746: 20403, 5295: 20404, 18575: 20405, 7067: 20406, 8891: 20407, 17576: 20408, 3026: 20409, 2354: 20410, 8356: 20411, 16852: 20412, 10932: 20413, 14249: 20414, 17390: 20415, 6386: 20416, 10316: 20417, 10198: 20418, 7519: 20419, 19519: 20420, 11616: 20421, 17438: 20422, 11664: 20423, 14664: 20424, 5514: 20425, 12637: 20426, 17054: 20427, 19720: 20428, 12448: 20429, 18598: 20430, 3513: 20431, 6467: 20432, 6960: 20433, 1818: 20434, 13478: 20435, 13899: 20436, 14943: 20437, 4082: 20438, 9974: 20439, 14660: 20440, 12405: 20441, 1493: 20442, 19311: 20443, 12977: 20444, 14351: 20445, 6762: 20446, 1610: 20447, 3337: 20448, 7302: 20449, 16408: 20450, 12352: 20451, 6337: 20452, 3475: 20453, 96: 20454, 15974: 20455, 19747: 20456, 20806: 20457, 1591: 20458, 16123: 20459, 8840: 20460, 19864: 20461, 534: 20462, 10778: 20463, 19112: 20464, 12743: 20465, 7844: 20466, 197: 20467, 17431: 20468, 12377: 20469, 6135: 20470, 5020: 20471, 10557: 20472, 18759: 20473, 13056: 20474, 20538: 20475, 925: 20476, 11301: 20477, 5294: 20478, 11418: 20479, 3049: 20480, 17581: 20481, 9883: 20482, 11799: 20483, 2434: 20484, 13058: 20485, 5657: 20486, 2432: 20487, 19174: 20488, 7194: 20489, 20313: 20490, 3170: 20491, 5864: 20492, 2223: 20493, 16880: 20494, 4055: 20495, 6503: 20496, 479: 20497, 16936: 20498, 9003: 20499, 8618: 20500, 18350: 20501, 191: 20502, 3590: 20503, 9466: 20504, 3440: 20505, 21163: 20506, 14324: 20507, 11025: 20508, 2336: 20509, 1512: 20510, 16147: 20511, 16452: 20512, 10178: 20513, 1557: 20514, 14038: 20515, 6036: 20516, 9737: 20517, 8076: 20518, 17575: 20519, 934: 20520, 19910: 20521, 249: 20522, 20086: 20523, 16118: 20524, 17682: 20525, 15792: 20526, 2967: 20527, 19011: 20528, 20367: 20529, 9079: 20530, 12464: 20531, 2899: 20532, 7489: 20533, 11715: 20534, 2597: 20535, 15644: 20536, 18188: 20537, 16567: 20538, 7914: 20539, 11132: 20540, 17800: 20541, 12644: 20542, 12283: 20543, 9440: 20544, 2572: 20545, 20497: 20546, 20342: 20547, 9164: 20548, 7232: 20549, 10543: 20550, 2560: 20551, 16686: 20552, 15048: 20553, 12082: 20554, 801: 20555, 7197: 20556, 1969: 20557, 15884: 20558, 15833: 20559, 10292: 20560, 5217: 20561, 15357: 20562, 4065: 20563, 17681: 20564, 13745: 20565, 5895: 20566, 10984: 20567, 18933: 20568, 20849: 20569, 19696: 20570, 6051: 20571, 11012: 20572, 10348: 20573, 3595: 20574, 3266: 20575, 12211: 20576, 13104: 20577, 16807: 20578, 14658: 20579, 10604: 20580, 14410: 20581, 11861: 20582, 4742: 20583, 21219: 20584, 5188: 20585, 881: 20586, 12781: 20587, 5269: 20588, 13278: 20589, 19795: 20590, 17143: 20591, 7756: 20592, 20067: 20593, 13540: 20594, 20562: 20595, 4957: 20596, 3951: 20597, 11026: 20598, 12088: 20599, 14674: 20600, 1338: 20601, 12625: 20602, 6730: 20603, 57: 20604, 16901: 20605, 8084: 20606, 5017: 20607, 20957: 20608, 1667: 20609, 4233: 20610, 1796: 20611, 13354: 20612, 8587: 20613, 19078: 20614, 13924: 20615, 6712: 20616, 13120: 20617, 21012: 20618, 7448: 20619, 16851: 20620, 10517: 20621, 6985: 20622, 19925: 20623, 18228: 20624, 11378: 20625, 15671: 20626, 12122: 20627, 16010: 20628, 11039: 20629, 5129: 20630, 20305: 20631, 18351: 20632, 14157: 20633, 16741: 20634, 6647: 20635, 10839: 20636, 2042: 20637, 7788: 20638, 15700: 20639, 11422: 20640, 20705: 20641, 12258: 20642, 7253: 20643, 20357: 20644, 2917: 20645, 12433: 20646, 15759: 20647, 14590: 20648, 41: 20649, 3850: 20650, 8489: 20651, 6533: 20652, 1799: 20653, 15775: 20654, 9457: 20655, 14923: 20656, 18731: 20657, 13749: 20658, 12999: 20659, 15277: 20660, 17631: 20661, 2489: 20662, 13072: 20663, 13556: 20664, 13810: 20665, 7485: 20666, 7254: 20667, 3486: 20668, 10067: 20669, 1292: 20670, 9786: 20671, 18417: 20672, 6097: 20673, 17061: 20674, 5871: 20675, 1199: 20676, 8381: 20677, 15573: 20678, 14046: 20679, 2326: 20680, 19566: 20681, 4342: 20682, 7228: 20683, 2500: 20684, 17249: 20685, 16368: 20686, 17165: 20687, 12020: 20688, 3858: 20689, 20967: 20690, 2227: 20691, 1014: 20692, 11887: 20693, 4297: 20694, 7848: 20695, 7404: 20696, 10323: 20697, 13473: 20698, 2070: 20699, 799: 20700, 19983: 20701, 1113: 20702, 3748: 20703, 1092: 20704, 9949: 20705, 4977: 20706, 766: 20707, 5780: 20708, 8366: 20709, 1698: 20710, 9146: 20711, 20269: 20712, 16970: 20713, 1444: 20714, 2200: 20715, 4140: 20716, 7577: 20717, 2368: 20718, 10636: 20719, 1055: 20720, 8924: 20721, 1096: 20722, 15502: 20723, 18463: 20724, 5255: 20725, 5866: 20726, 18673: 20727, 8668: 20728, 15287: 20729, 9573: 20730, 1068: 20731, 13881: 20732, 11207: 20733, 9871: 20734, 9933: 20735, 20053: 20736, 912: 20737, 17207: 20738, 16447: 20739, 3622: 20740, 5419: 20741, 19487: 20742, 13329: 20743, 9996: 20744, 12653: 20745, 18174: 20746, 16543: 20747, 10094: 20748, 12488: 20749, 18722: 20750, 13293: 20751, 420: 20752, 7343: 20753, 8864: 20754, 10956: 20755, 8427: 20756, 9346: 20757, 3695: 20758, 1035: 20759, 19262: 20760, 9680: 20761, 4127: 20762, 13863: 20763, 15051: 20764, 10106: 20765, 1652: 20766, 1608: 20767, 7216: 20768, 5013: 20769, 18977: 20770, 7811: 20771, 20377: 20772, 2344: 20773, 3292: 20774, 15581: 20775, 7133: 20776, 5907: 20777, 6031: 20778, 13207: 20779, 696: 20780, 964: 20781, 20927: 20782, 14474: 20783, 12446: 20784, 16090: 20785, 9439: 20786, 15810: 20787, 8865: 20788, 14150: 20789, 2159: 20790, 6158: 20791, 19375: 20792, 12098: 20793, 386: 20794, 18751: 20795, 9289: 20796, 16337: 20797, 7287: 20798, 952: 20799, 20882: 20800, 7713: 20801, 7420: 20802, 17950: 20803, 18985: 20804, 7911: 20805, 16886: 20806, 6029: 20807, 19333: 20808, 16757: 20809, 9109: 20810, 2798: 20811, 449: 20812, 2993: 20813, 19619: 20814, 16666: 20815, 17653: 20816, 12391: 20817, 1991: 20818, 2154: 20819, 8878: 20820, 6670: 20821, 18020: 20822, 5446: 20823, 10238: 20824, 15222: 20825, 19602: 20826, 8641: 20827, 12061: 20828, 15425: 20829, 16499: 20830, 13777: 20831, 12444: 20832, 7906: 20833, 5384: 20834, 8390: 20835, 604: 20836, 20430: 20837, 8975: 20838, 11147: 20839, 14860: 20840, 1137: 20841, 2323: 20842, 21082: 20843, 3657: 20844, 14591: 20845, 9131: 20846, 17383: 20847, 9145: 20848, 9102: 20849, 7907: 20850, 16703: 20851, 6556: 20852, 13027: 20853, 2859: 20854, 6574: 20855, 10376: 20856, 15427: 20857, 21064: 20858, 4273: 20859, 1104: 20860, 19603: 20861, 3508: 20862, 2430: 20863, 7568: 20864, 2704: 20865, 17180: 20866, 13980: 20867, 14182: 20868, 2642: 20869, 3: 20870, 8560: 20871, 11095: 20872, 17405: 20873, 16021: 20874, 15546: 20875, 19881: 20876, 15627: 20877, 14605: 20878, 4964: 20879, 2055: 20880, 16981: 20881, 8359: 20882, 19462: 20883, 2835: 20884, 7633: 20885, 3913: 20886, 7315: 20887, 4592: 20888, 20876: 20889, 13471: 20890, 13510: 20891, 12362: 20892, 19645: 20893, 19577: 20894, 13814: 20895, 18943: 20896, 19833: 20897, 10173: 20898, 17089: 20899, 17699: 20900, 10941: 20901, 1487: 20902, 9278: 20903, 16630: 20904, 4182: 20905, 5518: 20906, 10575: 20907, 18092: 20908, 16496: 20909, 16083: 20910, 9043: 20911, 15072: 20912, 18902: 20913, 13374: 20914, 18842: 20915, 19691: 20916, 13911: 20917, 21035: 20918, 9674: 20919, 13155: 20920, 13675: 20921, 7656: 20922, 4736: 20923, 16275: 20924, 3972: 20925, 16691: 20926, 20458: 20927, 19372: 20928, 2980: 20929, 2331: 20930, 19328: 20931, 4407: 20932, 18678: 20933, 4972: 20934, 3087: 20935, 15384: 20936, 7655: 20937, 13747: 20938, 20685: 20939, 14521: 20940, 1732: 20941, 15296: 20942, 2276: 20943, 14364: 20944, 20118: 20945, 1700: 20946, 20004: 20947, 6679: 20948, 8111: 20949, 18179: 20950, 4119: 20951, 3490: 20952, 20586: 20953, 17777: 20954, 15651: 20955, 20751: 20956, 2887: 20957, 6534: 20958, 7837: 20959, 14308: 20960, 13726: 20961, 14980: 20962, 3189: 20963, 5937: 20964, 3912: 20965, 3246: 20966, 2900: 20967, 17956: 20968, 9134: 20969, 17615: 20970, 434: 20971, 13373: 20972, 6901: 20973, 2850: 20974, 18640: 20975, 15706: 20976, 12201: 20977, 791: 20978, 6631: 20979, 13845: 20980, 18796: 20981, 5536: 20982, 17443: 20983, 5345: 20984, 10390: 20985, 18295: 20986, 2262: 20987, 14861: 20988, 12876: 20989, 20101: 20990, 187: 20991, 20917: 20992, 3884: 20993, 20449: 20994, 20402: 20995, 19686: 20996, 846: 20997, 7028: 20998, 1707: 20999, 2585: 21000, 1886: 21001, 4312: 21002, 18991: 21003, 20152: 21004, 7603: 21005, 185: 21006, 4785: 21007, 2013: 21008, 16820: 21009, 7455: 21010, 1017: 21011, 945: 21012, 7275: 21013, 7850: 21014, 20842: 21015, 2287: 21016, 1110: 21017, 8077: 21018, 18883: 21019, 10045: 21020, 10308: 21021, 13183: 21022, 13920: 21023, 9769: 21024, 20934: 21025, 1047: 21026, 16427: 21027, 14668: 21028, 13967: 21029, 7408: 21030, 3529: 21031, 11252: 21032, 4411: 21033, 20675: 21034, 13189: 21035, 9659: 21036, 20255: 21037, 20864: 21038, 15219: 21039, 11183: 21040, 7983: 21041, 18953: 21042, 2098: 21043, 15950: 21044, 10406: 21045, 9089: 21046, 8574: 21047, 13929: 21048, 10908: 21049, 14640: 21050, 10828: 21051, 10011: 21052, 6329: 21053, 19039: 21054, 11666: 21055, 19472: 21056, 5981: 21057, 2950: 21058, 382: 21059, 963: 21060, 10108: 21061, 8805: 21062, 12009: 21063, 15195: 21064, 9099: 21065, 3688: 21066, 8415: 21067, 20356: 21068, 4220: 21069, 1755: 21070, 10711: 21071, 16509: 21072, 8482: 21073, 2031: 21074, 11804: 21075, 12704: 21076, 14691: 21077, 14987: 21078, 10220: 21079, 16817: 21080, 17747: 21081, 18500: 21082, 8657: 21083, 5240: 21084, 6234: 21085, 13382: 21086, 17368: 21087, 7293: 21088, 7031: 21089, 17813: 21090, 19415: 21091, 11776: 21092, 3057: 21093, 13623: 21094, 9236: 21095, 3985: 21096, 19424: 21097, 10120: 21098, 15473: 21099, 7628: 21100, 6761: 21101, 4976: 21102, 5765: 21103, 17074: 21104, 10962: 21105, 1930: 21106, 12979: 21107, 8650: 21108, 5267: 21109, 5839: 21110, 15648: 21111, 18811: 21112, 18289: 21113, 14608: 21114, 18621: 21115, 4525: 21116, 4499: 21117, 16250: 21118, 14037: 21119, 5841: 21120, 14585: 21121, 17101: 21122, 19949: 21123, 7651: 21124, 10288: 21125, 9387: 21126, 19753: 21127, 11234: 21128, 8446: 21129, 13023: 21130, 12893: 21131, 15787: 21132, 4493: 21133, 9057: 21134, 2134: 21135, 1663: 21136, 18754: 21137, 20658: 21138, 10702: 21139, 10399: 21140, 7615: 21141, 4244: 21142, 8227: 21143, 18516: 21144, 14914: 21145, 8782: 21146, 11973: 21147, 13179: 21148, 19438: 21149, 11870: 21150, 8362: 21151, 4836: 21152, 6024: 21153, 13960: 21154, 3503: 21155, 5276: 21156, 19010: 21157, 3700: 21158, 19156: 21159, 17582: 21160, 11800: 21161, 5118: 21162, 8635: 21163, 8010: 21164, 10698: 21165, 14021: 21166, 2655: 21167, 7190: 21168, 20228: 21169, 361: 21170, 12027: 21171, 18625: 21172, 14041: 21173, 11658: 21174, 7484: 21175, 16476: 21176, 9084: 21177, 2786: 21178, 7047: 21179, 10582: 21180, 21244: 21181, 19405: 21182, 2576: 21183, 8749: 21184, 11643: 21185, 14462: 21186, 5260: 21187, 3061: 21188, 6033: 21189, 18966: 21190, 6198: 21191, 8172: 21192, 11390: 21193, 3778: 21194, 11900: 21195, 10544: 21196, 2612: 21197, 9955: 21198, 16490: 21199, 12107: 21200, 17042: 21201, 13029: 21202, 9822: 21203, 5650: 21204, 3678: 21205, 11016: 21206, 2957: 21207, 11324: 21208, 1370: 21209, 6584: 21210, 4868: 21211, 12148: 21212, 16862: 21213, 1272: 21214, 4840: 21215, 20618: 21216, 15351: 21217, 11988: 21218, 11977: 21219, 17010: 21220, 17878: 21221, 9091: 21222, 3960: 21223, 4793: 21224, 16570: 21225, 10019: 21226, 9342: 21227, 10952: 21228, 5468: 21229, 5775: 21230, 3108: 21231, 11347: 21232, 9319: 21233, 14793: 21234, 16783: 21235, 11822: 21236, 17537: 21237, 16384: 21238, 9521: 21239, 10905: 21240, 2408: 21241, 19718: 21242, 9891: 21243, 5818: 21244, 6845: 21245, 839: 21246, 20187: 21247, 19889: 21248, 17077: 21249}

# tags process

In [8]:
tags

       Unnamed: 0  HADM_ID  Value  UNIQUE_ID
0            6220   126509      0          0
1           11659   149789      0          1
2            5313   122678      0          2
3           17838   176370      0          3
4            6475   127622      0          4
...           ...      ...    ...        ...
21245        9127   138935      0      21245
21246        5594   123826      0      21246
21247       12443   153228      1      21247
21248        2152   109260      0      21248
21249         111   100525      0      21249

[21250 rows x 4 columns]

In [9]:
hadm_uniq = tags.loc[:,["HADM_ID","UNIQUE_ID"]]
hadm_uniq.head()

   HADM_ID  UNIQUE_ID
0   126509          0
1   149789          1
2   122678          2
3   176370          3
4   127622          4

In [10]:
hadm_uniq["HADM_ID"].nunique(), hadm_uniq["UNIQUE_ID"].nunique(), hadm_uniq.shape

(21250, 21250, (21250, 2))

UNIQUE_IDはDataMergingの段階で振られたHADM‗IDと一対一対応するIDである。その対応表は、clean_data/UNIQUE_ID_dict.csvに保存されている。

In [11]:
if "Unnamed: 0" in tags.columns:
    tags=tags.drop("Unnamed: 0",axis=1)
if "HADM_ID" in tags.columns:
    tags=tags.drop("HADM_ID",axis=1)
tags

       Value  UNIQUE_ID
0          0          0
1          0          1
2          0          2
3          0          3
4          0          4
...      ...        ...
21245      0      21245
21246      0      21246
21247      1      21247
21248      0      21248
21249      0      21249

[21250 rows x 2 columns]

In [12]:
tags=tags.reindex(columns=['UNIQUE_ID', 'Value'])
tags

       UNIQUE_ID  Value
0              0      0
1              1      0
2              2      0
3              3      0
4              4      0
...          ...    ...
21245      21245      0
21246      21246      0
21247      21247      1
21248      21248      0
21249      21249      0

[21250 rows x 2 columns]

In [13]:
tags["UNIQUE_ID"]=tags["UNIQUE_ID"].map(d_swap)
tags=tags.rename(columns={'UNIQUE_ID' : 'ID' , "Value":"label"})

In [14]:
tags

          ID  label
0       7510      0
1      10116      0
2        259      0
3      20870      0
4       3090      0
...      ...    ...
21245   2343      0
21246   4206      0
21247  20393      1
21248   8392      0
21249  14763      0

[21250 rows x 2 columns]

In [15]:
tags.to_csv(outfile_path+"GRU_ODE_death_tags.csv",index=False)

In [16]:
tags.columns

Index(['ID', 'label'], dtype='object')

## Covs process

In [17]:
covs

,UNIQUE_ID,004,008,009,011,012,013,021,027,031,...,997,998,999,V45,V50,V55,V56,V58,V59,V71
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21245,21245,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21246,21246,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21247,21247,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21248,21248,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21249,21249,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
covs["UNIQUE_ID"]=covs["UNIQUE_ID"].map(d_swap)
covs=covs.rename(columns={'UNIQUE_ID' : 'ID'})

In [19]:
covs

,ID,004,008,009,011,012,013,021,027,031,...,997,998,999,V45,V50,V55,V56,V58,V59,V71
0,7510,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10116,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,259,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,20870,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3090,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21245,2343,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21246,4206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21247,20393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21248,8392,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21249,14763,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
covs.to_csv(outfile_path+"GRU_ODE_covariates.csv",index=False)

## sapsii

In [21]:
saps

,Unnamed: 0,subject_id,hadm_id,icustay_id,sapsii,sapsii_prob,age_score,hr_score,sysbp_score,temp_score,...,sodium_score,bicarbonate_score,bilirubin_score,gcs_score,comorbidity_score,admissiontype_score,HADM_ID,SUM_score,X,PROB
0,1,27513,163557,200003,30,0.106398,7,4.0,5.0,0.0,...,0.0,3.0,0.0,0.0,0,8,163557,15.0,-3.893052,0.980024
1,3,20707,129310,200007,18,0.029295,7,0.0,5.0,0.0,...,0.0,0.0,NaN,0.0,0,6,129310,5.0,-5.608037,0.996345
2,8,9514,127229,200014,43,0.305597,18,2.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0,8,127229,17.0,-3.628210,0.974124
3,16,76603,179633,200024,52,0.507019,18,4.0,5.0,0.0,...,1.0,3.0,NaN,0.0,0,6,179633,28.0,-2.341969,0.912294
4,17,19167,164161,200025,29,0.096698,7,0.0,5.0,0.0,...,0.0,0.0,NaN,0.0,0,8,164161,14.0,-4.031103,0.982555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22549,61523,27349,126991,299986,26,0.071716,16,2.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0,8,126991,2.0,-6.520274,0.998529
22550,61527,13620,169431,299993,12,0.013110,0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,8,169431,4.0,-5.863529,0.997167
22551,61528,10718,177406,299994,37,0.196366,15,2.0,5.0,0.0,...,0.0,0.0,NaN,0.0,0,6,177406,16.0,-3.758903,0.977222
22552,61530,69587,158288,299998,49,0.437547,18,2.0,5.0,0.0,...,0.0,0.0,NaN,0.0,9,6,158288,16.0,-3.758903,0.977222
22553,61531,7630,129161,299999,18,0.029295,7,0.0,5.0,0.0,...,0.0,0.0,NaN,0.0,0,0,129161,11.0,-4.474700,0.988735

In [22]:
saps["icustay_id"].nunique(), saps["hadm_id"].nunique(), saps["HADM_ID"].nunique()

(22554, 21240, 21240)

In [23]:
df = saps.groupby("hadm_id")["icustay_id"].nunique()
ndup_ids=list(df[df==1].index) #index of patients with only one visit.
saps_1=saps[~saps["hadm_id"].isin(ndup_ids)] #filter out the patients with more than one visit
print(len(saps_1.index))
print(len(df), sum(df.values), min(df), max(df))
saps_1.sort_values("hadm_id")

2550
21240 22554 1 4

,Unnamed: 0,subject_id,hadm_id,icustay_id,sapsii,sapsii_prob,age_score,hr_score,sysbp_score,temp_score,...,sodium_score,bicarbonate_score,bilirubin_score,gcs_score,comorbidity_score,admissiontype_score,HADM_ID,SUM_score,X,PROB
3388,9399,50417,100223,215164,44,0.326364,18,4.0,5.0,0.0,...,1.0,0.0,0.0,0.0,0,6,100223,20.0,-3.253407,0.962795
2542,7062,50417,100223,211396,61,0.700098,18,2.0,5.0,0.0,...,0.0,5.0,0.0,0.0,0,6,100223,37.0,-1.409163,0.803634
14105,38646,49079,100234,262878,65,0.769396,18,4.0,5.0,0.0,...,0.0,3.0,NaN,0.0,0,6,100234,41.0,-1.014570,0.733913
12765,34960,49079,100234,256814,41,0.266087,18,2.0,5.0,0.0,...,1.0,3.0,0.0,0.0,0,6,100234,17.0,-3.628210,0.974124
14122,38704,45797,100406,262970,25,0.064649,15,2.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0,8,100406,2.0,-6.520274,0.998529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499,6932,9057,199947,211179,39,0.229592,18,2.0,5.0,0.0,...,0.0,0.0,NaN,0.0,0,8,199947,13.0,-4.173596,0.984837
19070,52069,9057,199947,284602,33,0.140051,18,2.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0,8,199947,7.0,-5.173789,0.994369
17095,46676,22711,199952,275802,30,0.106398,18,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,0,6,199952,6.0,-5.380633,0.995416
19613,53537,22711,199952,286980,24,0.058153,18,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,0,6,199952,0.0,-7.763100,0.999575
20058,54762,22711,199952,289014,35,0.166523,18,2.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0,6,199952,11.0,-4.474700,0.988735

icustay_idとhadm_idの分離がうまくいっていない。要改修であるが、さしあたり最もicustay_idが小さいもののみを残す。

In [24]:
df = saps.groupby("hadm_id")["icustay_id"].min()
ndup_ids=list(df.values) #index of patients with only one visit.
saps_2=saps[saps["icustay_id"].isin(ndup_ids)] #filter out the patients with more than one visit
saps_2.sort_values("hadm_id")

,Unnamed: 0,subject_id,hadm_id,icustay_id,sapsii,sapsii_prob,age_score,hr_score,sysbp_score,temp_score,...,sodium_score,bicarbonate_score,bilirubin_score,gcs_score,comorbidity_score,admissiontype_score,HADM_ID,SUM_score,X,PROB
4009,11096,23018,100007,217937,25,0.064649,15,2.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0,8,100007,2.0,-6.520274,0.998529
12075,33063,533,100009,253656,36,0.181020,12,2.0,5.0,NaN,...,0.0,0.0,NaN,0.0,0,8,100009,16.0,-3.758903,0.977222
16014,43798,55853,100010,271147,37,0.196366,7,2.0,13.0,0.0,...,0.0,0.0,NaN,0.0,9,6,100010,15.0,-3.893052,0.980024
3275,9057,87977,100011,214619,21,0.041754,0,4.0,5.0,0.0,...,0.0,0.0,NaN,0.0,0,6,100011,15.0,-3.893052,0.980024
3941,10899,68591,100016,217590,40,0.247443,7,0.0,5.0,0.0,...,0.0,0.0,NaN,7.0,0,6,100016,27.0,-2.450659,0.920610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,958,42131,199967,201521,27,0.079390,18,2.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0,6,199967,3.0,-6.159726,0.997892
3489,9663,26198,199976,215595,32,0.128048,16,2.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0,8,199976,8.0,-4.982647,0.993191
17214,47017,28549,199987,276369,26,0.071716,15,0.0,5.0,0.0,...,0.0,0.0,NaN,0.0,0,6,199987,5.0,-5.608037,0.996345
16162,44150,20785,199993,271752,23,0.052195,12,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0,6,199993,5.0,-5.608037,0.996345
2496,6919,40370,199999,211153,26,0.071716,18,2.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0,6,199999,2.0,-6.520274,0.998529

In [25]:
hadm_uniq["ID"]=hadm_uniq["UNIQUE_ID"].map(d_swap)
hadm_uniq["ID"].nunique(),hadm_uniq["UNIQUE_ID"].nunique()

(21250, 21250)

In [26]:
d_adm_uniq = dict(zip(hadm_uniq["HADM_ID"].values,hadm_uniq["UNIQUE_ID"].values))

In [27]:
saps_2["UNIQUE_ID"] = saps_2["HADM_ID"].map(d_adm_uniq)
saps_2["ID"] = saps_2["UNIQUE_ID"].map(d_swap)
saps_2

,Unnamed: 0,subject_id,hadm_id,icustay_id,sapsii,sapsii_prob,age_score,hr_score,sysbp_score,temp_score,...,bilirubin_score,gcs_score,comorbidity_score,admissiontype_score,HADM_ID,SUM_score,X,PROB,UNIQUE_ID,ID
0,1,27513,163557,200003,30,0.106398,7,4.0,5.0,0.0,...,0.0,0.0,0,8,163557,15.0,-3.893052,0.980024,14771,10444
1,3,20707,129310,200007,18,0.029295,7,0.0,5.0,0.0,...,NaN,0.0,0,6,129310,5.0,-5.608037,0.996345,8447,3356
2,8,9514,127229,200014,43,0.305597,18,2.0,5.0,0.0,...,0.0,0.0,0,8,127229,17.0,-3.628210,0.974124,15179,16859
3,16,76603,179633,200024,52,0.507019,18,4.0,5.0,0.0,...,NaN,0.0,0,6,179633,28.0,-2.341969,0.912294,18678,20933
4,17,19167,164161,200025,29,0.096698,7,0.0,5.0,0.0,...,NaN,0.0,0,8,164161,14.0,-4.031103,0.982555,12072,17315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22546,61519,265,101608,299976,25,0.064649,7,4.0,5.0,0.0,...,NaN,0.0,0,0,101608,18.0,-3.500600,0.970705,10792,12435
22547,61520,42728,142693,299979,37,0.196366,12,2.0,5.0,0.0,...,NaN,0.0,9,6,142693,10.0,-4.635159,0.990389,19372,20928
22548,61521,17532,129682,299981,40,0.247443,12,0.0,13.0,0.0,...,NaN,0.0,0,6,129682,22.0,-3.015299,0.953261,16314,19174
22550,61527,13620,169431,299993,12,0.013110,0,4.0,0.0,0.0,...,0.0,0.0,0,8,169431,4.0,-5.863529,0.997167,11785,10464
22553,61531,7630,129161,299999,18,0.029295,7,0.0,5.0,0.0,...,NaN,0.0,0,0,129161,11.0,-4.474700,0.988735,13970,17108

In [28]:
temp = saps_2.iloc[:,range(4,21)]
temp = pd.concat([temp,saps_2.iloc[:,range(22,25)]], axis=1)
temp = pd.concat([saps_2.loc[:,["ID","UNIQUE_ID"]],temp], axis=1)
saps_3 = temp.sort_values("ID")
saps_3

,ID,UNIQUE_ID,sapsii,sapsii_prob,age_score,hr_score,sysbp_score,temp_score,pao2fio2_score,uo_score,...,potassium_score,sodium_score,bicarbonate_score,bilirubin_score,gcs_score,comorbidity_score,admissiontype_score,SUM_score,X,PROB
2067,0,12623,67,0.799323,0,4.0,13.0,0.0,11.0,0.0,...,3.0,1.0,0.0,0.0,26.0,0,6,61.0,0.847766,0.299902
17713,1,13781,41,0.266087,12,2.0,0.0,0.0,9.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0,6,23.0,-2.899163,0.947805
19682,2,1326,55,0.575439,18,4.0,5.0,0.0,NaN,4.0,...,0.0,0.0,3.0,9.0,0.0,0,6,31.0,-2.022715,0.883161
7489,3,8484,38,0.212560,7,0.0,0.0,0.0,6.0,4.0,...,3.0,0.0,0.0,4.0,0.0,0,8,23.0,-2.899163,0.947805
13245,4,16753,37,0.196366,18,4.0,0.0,0.0,6.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0,6,13.0,-4.173596,0.984837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18008,21245,6845,29,0.096698,12,0.0,5.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0,6,11.0,-4.474700,0.988735
3608,21246,839,23,0.052195,7,2.0,5.0,0.0,NaN,0.0,...,3.0,0.0,0.0,NaN,0.0,0,6,10.0,-4.635159,0.990389
15221,21247,20187,73,0.870860,7,4.0,13.0,0.0,6.0,11.0,...,0.0,1.0,5.0,9.0,5.0,0,6,60.0,0.757852,0.319113
8193,21248,19889,43,0.305597,16,0.0,5.0,0.0,6.0,4.0,...,3.0,0.0,3.0,0.0,0.0,0,0,27.0,-2.450659,0.920610
5286,21249,17077,47,0.391926,7,2.0,5.0,0.0,9.0,0.0,...,3.0,0.0,3.0,NaN,0.0,9,6,25.0,-2.671952,0.935351

In [29]:
saps_3.to_csv(outfile_path+"GRU_ODE_sapsii.csv",index=False)

IDが歯抜けなのの要注意。HADM_IDではなくICUSTAY_IDで初めから監理したほうが、sapsiiがないデータは除くなりしてから学習データを作成したほうが整合性は取れている。

In [30]:
saps_3.shape, saps_3["ID"].nunique(), saps_3["UNIQUE_ID"].nunique()

((21240, 22), 21240, 21240)